@import "app/assets/scss/utils.scss";

.product-details {
  background-color: #EEE;
  padding: 0px 80px 16px;

  @include media-breakpoint-down(lg) {
    padding: 0px 64px 16px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 48px 16px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0px 32px 16px;
  }

  .product {
    height: 700px;
    background-color: #FFF;

    .picture-col {
      padding-left: 0;
      padding-right: 0;
      margin-left: 16px;

      @include media-breakpoint-down(xs) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .picture {
        width: 680px;
        height: 500px;

        img {
          width: 100%;
          max-width: 680px;

          border-radius: 4px;
        }
      }
    }

    .info {
      .condition {
        padding-top: 32px;
        font-size: 14px;
      }

      .title {
        padding-top: 16px;
        padding-right: 80px;
        font-size: 24px;
      }

      .price {
        padding-top: 32px;
        font-size: 46px;
      }

      .button {
        padding-top: 32px;
        padding-right: 32px;
      }
    }
  }

  .description {
    background-color: #FFF;
    padding-left: 32px;

    .description-col {
      padding-left: 0;

      .title {
        font-size: 28px;
        padding-left: 0px;
        padding-bottom: 32px;
      }

      .text {
        padding-right: 0px;
        padding-bottom: 32px;
        font-size: 16px;
      }
    }
  }
}
