@import "app/assets/scss/utils.scss";

.rcc-product-details {
  background-color: #EEE;
  padding: 0px 128px 16px;

  @include media-breakpoint-down(lg) {
    padding: 0px 64px 16px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 32px 16px;
  }

  .product {
    background-color: #FFF;
    height: 720px;

    @include media-breakpoint-down(lg) {
      height: 500px;
    }

    @include media-breakpoint-down(md) {
      height: 750px;
    }

    .picture-col {
      height: 700px;
      padding-top: 32px;
      padding-left: 0;
      padding-right: 0;

      display: flex;
      justify-content: center;

      .picture {
        width: 680px;

        img {
          width: 100%;
          max-width: 680px;
          max-height: 100%;

          border-radius: 4px;
        }
      }

      @include media-breakpoint-down(lg) {
        height: 480px;

        .picture {
          width: 480px;

          img {
            max-width: 480px;
          }
        }
      }

      @include media-breakpoint-down(md) {
        height: 400px;

        .picture {
          width: 380px;

          img {
            max-width: 380px;
          }
        }
      }
    }

    .info {
      padding-top: 32px;

      .condition {
        font-size: 14px;
        font-weight: 350;
      }

      .title {
        padding-top: 16px;
        padding-right: 80px;
        font-size: 24px;
        font-weight: 600;
      }

      .price {
        padding-top: 32px;
        font-size: 46px;
        font-weight: 400;
      }

      .button {
        padding-top: 32px;
        padding-right: 32px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 0px;
        padding-left: 176px;
        padding-right: 176px;

        .col {
          text-align: center;
          padding-right: 15px;
          padding-top: 16px;
        }
      }

      @include media-breakpoint-down(sm) {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }

  .description {
    background-color: #FFF;
    padding-left: 32px;

    @include media-breakpoint-down(md) {
      padding-left: 0px;
    }

    .description-col {
      padding-left: 0;

      .title {
        padding-left: 0px;
        padding-bottom: 32px;
        font-size: 28px;
        font-weight: 350;

        @include media-breakpoint-down(md) {
          padding-bottom: 16px;
        }
      }

      .text {
        padding-right: 0px;
        padding-bottom: 32px;
        font-size: 16px;
        font-weight: 450;
        color: #999 !important;

        @include media-breakpoint-down(md) {
          padding-left: 0px;
        }
      }

      @include media-breakpoint-down(md) {
        padding-top: 0px;
        padding-left: 128px;
        padding-right: 128px;

        .col {
          text-align: center;
        }
      }

      @include media-breakpoint-down(sm) {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
  }
}
