extends layouts/index.pug

block seo
  title= title

block css
  link(href=MANIFEST['items.css'], rel='stylesheet')

block body
  - SSR.requireApp('Items', __REACT_STATE__)
  .items-page

    .container
      .items-view !{SSR.mountComponent('items-view')}

block post-body
  script(src=MANIFEST['items.js'])
