@import "app/assets/scss/utils.scss";

.rcc-header {
  background-color: #FFE600;
  margin-left: 0px;
  margin-right: 0px;

  .logo {
    padding: 8px 0px;

    display: flex;
    justify-content: center;
    align-items: center;


    img {
      max-width: 50px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .search-box {
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      padding: 0px 10px;
    }
  }
}
