@import "app/assets/scss/utils.scss";

.rcc-items-list {
  background-color: #EEE;
  padding: 0px 128px 16px;

  @include media-breakpoint-down(lg) {
    padding: 0px 64px 16px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 32px 16px;
  }
}
