@import "app/assets/scss/utils.scss";

.rcc-breadcrumb {
  margin-left: 0px;
  margin-right: 0px;
  padding: 16px 112px;

  @include media-breakpoint-down(lg) {
    padding: 16px 48px;
  }

  @include media-breakpoint-down(md) {
    padding: 16px 16px;
  }

  @include media-breakpoint-down(sm) {
    padding: 16px 16px;
  }

  font-size: 14px;

  div {
    padding-left: 0px;
  }

  .category {
    color: #999999;
    font-weight: 350;
  }

  .arrow {
    color: #999999;
    font-weight: 350;

    padding: 0 8px;
  }

  .current-category {
    color: #666666;
    font-weight: 500;
  }
}
