@import "app/assets/scss/utils.scss";

.search-box {
  .text {
    padding-right: 0;
  }

  .magnifying-glass {
    padding-left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .magnifying-glass {
      background-color: #EEE;

      height: 39px;
      width: 100%;
      margin-left: -5px;
      margin-top: 2px;

      @include media-breakpoint-down(md) {
        height: 48px;
      }

      @include media-breakpoint-down(sm) {
        height: 45px;
        padding: 0px 15px;
      }

      img {
        max-width: 20px;
      }
    }

    .magnifying-glass:hover {
      cursor: pointer;
    }
  }
}
