@import 'app/assets/scss/utils.scss';

@mixin input-common-style() {
  @include border();
  @include appearance();
  border-radius: 2px;
  transition: all 200ms ease-out;
  font: 400 18px system-ui;
  outline: none;
  width: 100%;
  color: $text-color;
}

input {
  box-shadow: none;
}

input::-webkit-input-placeholder {
  font: 200 18px system-ui;
  color: #999;
}

input::-moz-placeholder {
  font: 200 18px system-ui;
  color: #999;
}

input:-ms-input-placeholder {
  font: 200 18px system-ui;
  color: #999;
}

input:-moz-placeholder {
  font: 200 18px system-ui;
  color: #999;
}

.rcc-input {
  text-align: center;

  &.is-disabled {
    input {
      background-color: #f9f9f9 !important;
      color: #aaa !important;
    }
  }

  .content {
    width: 100%;
    position: relative;

    .label-small {
      font-size: 1rem;
      margin-bottom: 2px;
      width: 85%;
    }

    .control-group {
      &.control-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .input-control {
        @include input-common-style();
        padding: 8px 15px;

        @include media-breakpoint-down(md) {
          padding: 12px 15px;
        }

        &:active,
        &:focus {
          @include border(1px, #000);
        }

        @include media-breakpoint-down(sm) {
          font-size: $font-size-mobile + 2;
        }
      }

      .icon {
        height: 0px;
        position: absolute;
        float: right;
        pointer-events: none;
        color: $light-gray;
        transition: all 200ms ease-out;
        top: 50%;
        margin-top: -7.5px;
        right: 15px;
        z-index: 10;

        &.success {
          color: $primary;
        }

        &.error {
          color: $red;
        }

        &.show {
          opacity: 1;
        }

        &.hide {
          opacity: 0;
        }
      }
      .icon-show .Select-arrow-zone {
        padding-right: 35px;
      }
    }

    .error-message {
      position: absolute;
      transform: translateX(20px);
      bottom: -18px;
      margin-left: 5px;
      width: 100%;
      height: auto;
      color: $error;
      text-align: left;

      &.has-error {
        transition: opacity 150ms ease-out, transform 300ms ease-in;
        opacity: 1;
        transform: translateX(0);
      }

      &.no-error {
        transition: opacity 600ms ease-out 1.5s, transform 200ms ease-in 2s;
        opacity: 0;
      }
    }
  }

  .input {
    position: relative;
  }

  &.has-error {
    input {
      border: 2px solid $red !important;
    }
  }
}
